@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-5rem); }
  80% {
    opacity: .6;
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  80% {
    transform: translateY(-1rem); }
  100% {
    transform: translateY(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /*No border is added by default to the elements of this website*/
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  /* Everything related to font that pertains to the entire website must be put here in the body selector */
  font-family: "Lato", sans-serif;
  /*Primary font is Lato, and if that font is not available, then it defaults to sans-serif*/
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--name {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInTop .75s ease-out; }
  .heading-primary--description {
    display: block;
    font-weight: 700px;
    font-size: 2rem;
    letter-spacing: 1.2rem;
    animation: moveInBottom .75s ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #c0def1, #67b5e9);
  -webkit-background-clip: text;
  color: transparent; }

.heading-tertiary {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem;
  color: #777; }
  .paragraph:not(:last-child) {
    margin-bottom: 2rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 2rem !important; }

.u-margin-bottom-med {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-huge {
  margin-bottom: 16rem !important; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 5rem;
  display: inline-block;
  border-radius: 1000px;
  transition: all .2s;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5); }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.6rem 2rem rgba(0, 0, 0, 0.5); }

.btn--white {
  background-color: #fff;
  color: #777; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem; }
  .card__side {
    height: 52rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: url(../img/nat-5.jpg), linear-gradient(to right bottom, #c0def1, #0b89dd); }
      .card__side--back-2 {
        background-image: url(../img/nat-6.jpg), linear-gradient(to right bottom, #c3f771, #2ebe29); }
      .card__side--back-3 {
        background-image: url(../img/nat-7.jpg), linear-gradient(to right bottom, #eee, #777); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #c0def1, #0b89dd), url(../img/nat-5.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #c3f771, #2ebe29), url(../img/nat-6.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #eee, #777), url(../img/nat-7.jpg); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(192, 222, 241, 0.85), rgba(11, 137, 221, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(195, 247, 113, 0.85), rgba(46, 190, 41, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(238, 238, 238, 0.85), rgba(119, 119, 119, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    color: #fff;
    margin-bottom: 8rem; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }

.floated-images {
  position: relative; }
  .floated-images__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: .2rem;
    position: absolute;
    z-index: 9;
    transition: all .2s;
    outline-offset: 2rem; }
    .floated-images__photo--p1 {
      left: 0;
      top: 2rem;
      z-index: 11;
      position: relative; }
      .floated-images__photo--p1--t1 {
        position: absolute;
        top: -3rem;
        left: 0;
        z-index: 15;
        display: block;
        border-bottom: 2px solid blue;
        transition: all .5s; }
      .floated-images__photo--p1:hover .floated-images__photo--p1--t1 {
        border-bottom: 2px solid lightblue; }
    .floated-images__photo--p2 {
      right: 0;
      top: 5rem;
      background-color: #eee;
      padding: 2rem 0;
      z-index: 12; }
    .floated-images__photo--p3 {
      left: 20%;
      top: 14rem;
      z-index: 10; }
    .floated-images__photo:hover {
      outline: 1.5rem solid #67b5e9;
      transform: scale(1.05) translateY(-1rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .floated-images:hover .floated-images__photo:not(:hover) {
    transform: scale(0.95); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(11, 137, 221, 0.85)), url(../img/tutorpicResized.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 50% 100%, 0% 75vh); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 4rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  background-color: #eee;
  margin: 1rem auto; }
  .row:not(:last-child) {
    margin-bottom: 4rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2*6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(6rem + 2*(100% - 2*6rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3*6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(6rem + (100% - 3*6rem) / 2); }
  .row .col-3-of-4 {
    width: calc(2*6rem + 3*(100% - 3*6rem) / 4); }

.section-about {
  background-color: #eee;
  padding: 25rem 0;
  margin-top: -20vh; }

.section-tours {
  background-color: #eee;
  padding: 25rem 0;
  margin-top: -35rem; }
