//Colors
$color-primary: #67b5e9; 
$color-primary-light: #c0def1; 
$color-primary-dark: #0b89dd; 

$color-grey-dark: #777;
$color-white: #fff; 
$color-black: #000;

//Grid
$grid-width: 114rem;
$gutter-vertical: 4rem;
$gutter-horizontal: 6rem;