//Colors
$color-primary: #55c57a; 
$color-primary-light: #bfd3d4;
$color-primary-dark: #2881b4;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

//Grid
$grid-width: 114rem;
$gutter-vertical: 4rem;
$gutter-horizontal: 6rem;