.section-about{
    background-color: $color-grey-light;
    padding: 25rem 0;
    // padding-bottom: 2rem;
    // padding-left: 3rem;
    // padding-right: 3rem;
    margin-top: -20vh;
    // margin-bottom: 10rem;
}

.section-tours{
    background-color: $color-grey-light;
    padding: 25rem 0;
    margin-top: -35rem;
}