.section-about{
    background-color: $color-grey-light;
    padding-top: 15rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: -20vh;
    margin-bottom: 10rem;
}